// Colors
$primary-100: #FFFFFF;
$primary-400: #F67E7E;
$primary-700: #014E56;

$sercondary-200: #79C8C7;
$sercondary-400: #2C6269;
$sercondary-500: #004047;
$sercondary-600: #012F34;
$sercondary-700: #002529;


$body2-family: livicc600;
$body2-fsize: rem(15px);
$body2-line-height: 1.666666;